---
layout: about
---
{% include header.html %}
<main>
    {% include hero.html %}
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="grid-col-8">
                {{ content }}
            </div>
            <div class="grid-col-4">
                <img src="{{ site.baseurl }}/assets/img/profile.png" alt="{{ site.title }}" class="margin-bottom-4 radius-top-pill radius-bottom-pill">
            </div>
        </div>
    </div>
</main>
{% include footer.html %}
