---
layout: home
---
{% include header.html %}
<main>
    {% include hero.html %}
    {% if page.about-title %}
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-col-12">
                <h2>{{ page.about-title }}</h2>
            </div>
        </div>
        <div class="grid-row">
            <div class="grid-col-8">
                <p class="lead">{{ page.about-description }}</p>
                <p>
                    {% if page.about-link %}
                    <a href="{{ page.about-link }}" class="usa-button usa-button--outline">
                        {{ page.about-title }}
                    </a>
                    {% endif %}
                    {% if page.cv-link %}
                    <a href="{{ page.cv-link }}" class="usa-button usa-button--outline">
                        {{ page.cv-text }}
                    </a>
                    {% endif %}
                </p>
            </div>
            {% if page.about-img %}
            <div class="grid-col-4">
                <img src="{{ site.baseurl }}/assets/img/{{ page.about-img }}" alt="{{ page.about-img-alt }}" class="margin-bottom-4 radius-top-pill radius-bottom-pill">
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if page.work-title %}
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-col-12">
                <h2>{{ page.work-title }}</h2>
                {% include works.html limit=6 %}
            </div>
        </div>
        <div class="grid-row">
            <div class="grid-col-12">
                <p>
                    <a href="{{ page.work-link }}" class="">{{ page.work-title }}</a>
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    {% if page.press-title %}
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-col-12">
                <h2>{{ page.press-title }}</h2>
                {% include press.html limit="3" %}
                <p>
                    <a href="{{ page.press-link }}" class="">{{ page.press-title }}</a>
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    {% if page.posts-title %}
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-col-12">
                <h2>{{ page.posts-title }}</h2>
            </div>
        </div>
        <div class="grid-row">
            <div class="grid-col-12">
                {% include posts.html limit=3 %}
            </div>
        </div>
        <div class="grid-row">
            <div class="grid-col-12">
                <p>
                    <a href="{{ page.posts-link }}" class="">{{ page.posts-title }}</a>
                </p>
            </div>
        </div>
    </div>
    {% endif %}
</main>
{% include footer.html %}
