---
layout: post
---
{% include header.html %}
<main>
    {% include hero.html %}
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-col-8">
                <p class="mb-5">
                    By {{ site.title }} 
                    {% if page.date %}
                    &middot; {{ page.date | date: site.date }}
                    {% endif %}
                </p>
                {{ content | markdownify }}
            </div>
            <div class="grid-col-4"></div>
        </div>
    </div>
</main>
{% include footer.html %}
